.about-content {
    .about-header-image {
        background-image: url('../../../assets/images/about-background.jpg');
        width: 100%;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        @include breakpoint(mobile) {
            width: 100%;
            height: 40vh;
        }

        @include breakpoint(tablet) {
            width: 100%;
            height: 80vh;
        }
    }

    .about-heading {
        position: absolute;
        font-size: $font-xxl*2;
        color: $color-white;
        box-shadow: 2px solid black;
        font-weight: bolder;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .about-content-container {

        @include breakpoint(mobile) {
            font-size: $font-l;
        }

        @include breakpoint(tablet) {
            font-size: $font-xl;
        }
        width: 80%;
        margin: 0 auto;
        margin-top: $defaultSpacing-l*2;
        margin-bottom: $defaultSpacing-l*2;
        padding: $defaultSpacing-m;
        font-size: $font-xl;
        color: $font-color-primary-themed;
        text-align:justify;
        word-spacing:-2px;

        hr {
            color: $primary-bg;
            background-color: $primary-bg;
            width: 50%;
            height: 5px;
            margin-top: $defaultSpacing-l*2;
            margin-bottom: $defaultSpacing-l*2;
        }
    }
}