
// Colors
$primary-bg: red;
$secondary-bg: yellow;
$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
$color-gray-light: rgba($color-white, .15);
$color-gray-dark: rgba($color-black, .15);

// Font Sizes
$font-xs: 0.625em;
$font-s: 0.8em;
$font-l: 1.125em;
$font-xl: 1.5em;
$font-xxl: 2em;
$lineHeight-m: 1.4em;


// Spacings
$defaultSpacing-xs: 0.5rem;
$defaultSpacing-s: 0.8;
$defaultSpacing-m: 1rem;
$defaultSpacing-l:1.5rem;