// Dark Theme
:root {
    --color-page-background: #{$color-gray-dark};
    --color-text: #{$color-black};
    --color-border: #{$color-black};
    --color-article-background: #{$color-white};
    --color-article-shadow: #{$color-gray-dark};
  }
  
.dark {
    --color-page-background: #{$color-black};
    --color-text: #{$color-white};
    --color-border: #{$color-white};
    --color-article-background: #{$color-gray-light};
    --color-article-shadow: #{$color-gray-dark};
}

// Themed Colors
$bg-primary-themed: var(--color-page-background);
$font-color-primary-themed: var(--color-text);