@import './variables/defaults';
@import './variables/themes';
@import './mixins/mixins';

// Breakpoints -> mobile -> tablet -> laptop -> desktop

body { 
    // font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    text-align:center; 
    margin: 0; 
    padding: 0; 
    border: 0;
    background-color: $bg-primary-themed;
    color: $font-color-primary-themed;

    // Breakpoint test
    @include breakpoint(mobile) {
        background-color: red;
    }
    @include breakpoint(tablet) {
        background-color: yellow;
    }
    @include breakpoint(laptop) {
        background-color: pink;
    }
    @include breakpoint(desktop) {
        background-color: grey
    }
}

* {
    transition: all .15s ease;
}

// Language specific styles
    //li:lang(en) { color: red }
    // li:lang(fr) { color: blue }
    // li:lang(de) { color: yellow }

.not-localized {
    display: none;
}